body {
  padding-top: 60px;
}

#mainNav {
  background: white;
}

#starting {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  color: #000;
  font-size: 50px;
  box-shadow: 0px 1px 9px 15px #fff;
  background-color: #fff;
}

.redsTurn {
  text-shadow: 1px 1px 0px red, 0 0 1em red, 0 0 1.2em red;
}

.bluesTurn {
  text-shadow: 1px 1px 0px blue, 0 0 1em blue, 0 0 1.2em blue;
}

.red-background {
  background: red;
}

.blue-background {
  background: blue;
}

.wrapper {
  max-width: 1165px;
  margin: 0 auto;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  margin: 5px;
  width: 120px;
  height: 120px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card-block {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
}

.card-front:hover {
  transform: scale(1.01);
}

.card-front img,
.card-back img {
  max-width: 120px;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.card-back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card-block.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.selected {
  pointer-events: none;
}

.redWin img {
  border: 2px solid red;
}

.blueWin img {
  border: 2px solid blue;
}